[Unit]
Description=kcptun Custom Client Service for %I
After=network.target

[Service]
Type=simple
User=nobody
Group=nobody
EnvironmentFile=/etc/kcptun/%i.conf
ExecStart=/usr/bin/kcptun-client --localaddr ${LOCAL} --remoteaddr ${REMOTE} --key ${KEY} $OPTIONS

[Install]
WantedBy=multi-user.target
