[Unit]
Description=kcptun Custom Client Service for %I
After=network.target

[Service]
Type=simple
User=nobody
Group=nobody
ExecStart=/usr/bin/kcptun-client -c /etc/kcptun/%i.json

[Install]
WantedBy=multi-user.target
